<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mybbs/
    RewriteRule ^index\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /mybbs/index.html [L]
</IfModule>